In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
str="Arjun Sharma"
for i in str:
    print(i)

A
r
j
u
n

S
h
a
r
m
a

In [2]:
for i in range(10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [6]:
count=0

while count<6:
    print(count)
    count=count+1

0
1
2
3
4
5

In [8]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [10]:
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [11]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [16]:
for i in range(5):
    if i==3:
        print("the number is",i)
        pass
    print(i)

0
1
2
the number is 3
3
4

In [18]:
for i in range(3):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2

In [21]:
n=24
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print(f"Sum of first 24 natural numbers is {sum}")

Sum of first 24 natural numbers is 300

In [22]:
n=10
sum=0

for i in range(11):
    sum=sum+1

print(sum)

11

In [28]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print("Prime number = ",num)

Prime number =  2
Prime number =  3
Prime number =  5
Prime number =  7
Prime number =  11
Prime number =  13
Prime number =  17
Prime number =  19
Prime number =  23
Prime number =  29
Prime number =  31
Prime number =  37
Prime number =  41
Prime number =  43
Prime number =  47
Prime number =  53
Prime number =  59
Prime number =  61
Prime number =  67
Prime number =  71
Prime number =  73
Prime number =  79
Prime number =  83
Prime number =  89
Prime number =  97